VITE_API_URL=http://localhost:3001

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDfQNVUkxE9B9kHuoCAgw5pU2NrOgar6BQ
VITE_FIREBASE_AUTH_DOMAIN=algbnb-4764f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=algbnb-4764f
VITE_FIREBASE_STORAGE_BUCKET=algbnb-4764f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=111053691261
VITE_FIREBASE_APP_ID=1:111053691261:web:dfc5c222f1061f16f6d414
VITE_FIREBASE_MEASUREMENT_ID=G-GZBD02HQEV

# Map Providers
VITE_MAPTILER_KEY=your_maptiler_key
VITE_LOCATIONIQ_KEY=pk.bf9d4f420fe66089d4c74ef4da928a53